---
import BaseLayout from '../layouts/BaseLayout.astro';
import CollectionCard from '../components/CollectionCard.astro';

const estudanteImages = [
  {
    src: `${import.meta.env.BASE_URL}/images/protestoEstudantebw.jpg`,
    alt: "Manifestação Estudante 2026"
  },
  {
    src: `${import.meta.env.BASE_URL}/images/estado_falha.jpg`,
    alt: "Manifestação Estudante 2026"
  },
  {
    src: `${import.meta.env.BASE_URL}/images/protesto1.jpg`,
    alt: "Manifestação Estudante 2026"
  },
  {
    src: `${import.meta.env.BASE_URL}/images/arrebentar.jpg`,
    alt: "Manifestação Estudante 2026"
  }
];

---

<BaseLayout>
    <div class="academico">
        <div class="title">
            <h2>Académico</h2>
        </div>
        <div class="gallery">

          <CollectionCard title="Manifestação Estudante 2026" images={estudanteImages} />

        </div>
    </div>
</BaseLayout>