---
import BaseLayout from '../layouts/BaseLayout.astro';
import PhotoCard from '../components/PhotoCard.astro';
---

<BaseLayout>
    <div class="street">
        <div class="title">
            <h2>Street Photography</h2>
        </div>
        <div class="gallery">
            <PhotoCard src={`${import.meta.env.BASE_URL}/images/alwaysrush.webp`} alt="Always in a Rush" />
            <PhotoCard src={`${import.meta.env.BASE_URL}/images/senhorFonte.webp`} alt="Senhor Fonte" />
            <PhotoCard src={`${import.meta.env.BASE_URL}/images/velhotePraia.webp`} alt="Velhote Praia" />
            <PhotoCard src={`${import.meta.env.BASE_URL}/images/feira_caldas.webp`} alt="Trocas" />
            <PhotoCard src={`${import.meta.env.BASE_URL}/images/estacaocentral_ams.webp`} alt="Train doesn't wait" />
            <PhotoCard src={`${import.meta.env.BASE_URL}/images/loneliness.webp`} alt="Loneliness" />
            <PhotoCard src={`${import.meta.env.BASE_URL}/images/parapente.webp`} alt="kitesurf" />
            <PhotoCard src={`${import.meta.env.BASE_URL}/images/senhora_filha_metro.webp`} alt="Exploration" />
            <PhotoCard src={`${import.meta.env.BASE_URL}/images/passeio_cao_ams.webp`} alt="Dog world" />
            <PhotoCard src={`${import.meta.env.BASE_URL}/images/FilipeSerafim_ConcursoLEICA.webp`} alt="Culture" />
        </div>
    </div>
</BaseLayout>