---

import Social from './Social.astro';
import '../styles/global.css';
import { Instagram } from "lucide-astro";
---

<div class="logo">
    <img src={'${import.meta.env.BASE_URL}/images/FILIPE.png'} alt="Monteiro Photography Logo"/>
</div>
<div id="main_menu" class="nav-links">
    <a href={`${import.meta.env.BASE_URL}`}>Home</a>
    <a href={`${import.meta.env.BASE_URL}portraits`}>Retratos</a>
    <a href={`${import.meta.env.BASE_URL}landscapes`}>Paisagens</a>
    <a href={`${import.meta.env.BASE_URL}shows`}>Eventos</a>
    <a href={`${import.meta.env.BASE_URL}academic`}>Académico</a>
    <a href={`${import.meta.env.BASE_URL}street`}>Street Photography</a>
    <a href={`${import.meta.env.BASE_URL}documentary`}>Documentário</a>
    <a href={`${import.meta.env.BASE_URL}about`}>Sobre + Contactos</a> 
    <div class="separator">
        <!-- <a href="/contact">Contacto</a> -->

        <Social url="https://www.instagram.com/monteiro.gallery/" Icon={Instagram} />
    </div>
</div>