---

import Social from './Social.astro';
import '../styles/global.css';
import { Instagram } from "lucide-astro";
---

<div class="logo">
    <img class="logo-light" src={`${import.meta.env.BASE_URL}/images/FILIPE.webp`} alt="Monteiro Photography Logo"/>
    <img class="logo-dark" src={`${import.meta.env.BASE_URL}/images/wb_FILIPE.webp`} alt="Black White Monteiro Photography Logo"/>
    
</div>
<button class="menu" aria-expanded="false" aria-label="Open Menu">
  ☰
</button>
<div id="main_menu" class="nav-links">
    <a href={`${import.meta.env.BASE_URL}`}>Home</a>
    <a href={`${import.meta.env.BASE_URL}portraits`}>Retratos</a>
    <a href={`${import.meta.env.BASE_URL}landscapes`}>Paisagens</a>
    <a href={`${import.meta.env.BASE_URL}shows`}>Eventos</a>
    <a href={`${import.meta.env.BASE_URL}academic`}>Académico</a>
    <a href={`${import.meta.env.BASE_URL}street`}>Street Photography</a>
    <a href={`${import.meta.env.BASE_URL}documentary`}>Documentário</a>
    <a href={`${import.meta.env.BASE_URL}blackwhite`}>Black & White</a>
    <a href={`${import.meta.env.BASE_URL}about`}>Sobre + Contactos</a> 
    <div class="separator">
        <!-- <a href="/contact">Contacto</a> -->

        <Social url="https://www.instagram.com/monteiro.gallery/" Icon={Instagram} />
    </div>
</div>

<script>
  const menu = document.querySelector('.menu');
  const nav = document.querySelector('.nav-links');

  menu?.addEventListener('click', () => {
    nav?.classList.toggle('open');

    const isExpanded =
      menu.getAttribute('aria-expanded') === 'true';

    menu.setAttribute(
      'aria-expanded',
      String(!isExpanded)
    );
  });
</script>